            <div class="rareag mg5" align="center">
              <img src="https://trello-attachments.s3.amazonaws.com/56afa7e9465cfc8140d2d852/600x858/681932adb9bf7a73118e54e601f3d675/rev1-dc-taxipe.png" />
              <h3>CONCLUIDOS</h3>
              <br class="cb">
            </div>  
            