            <div class="rareag mg5" align="center">
              <img src="https://cloud.githubusercontent.com/assets/16651024/12874288/f53a2c28-cd9e-11e5-8bbc-71abdb27da27.png" />
              <h3>LISTA DE COMPONENTES</h3>
              <br class="cb">
            </div>  
            