            <div class="rareag mg5" align="center">
              <img src="https://trello-attachments.s3.amazonaws.com/56afb9cb1ebffdeb916e472b/595x842/e0c7453b086b68e33b74d1fea89f79a0/Diagramademodulos.png" />
              <h3>DIAGRAMA DE MODULOS</h3>
              <br class="cb">
            </div>  
            