            <div class="rareag mg5" align="center">
              <img src="https://trello-attachments.s3.amazonaws.com/56b6a9ff019432ba8942f9fb/113x113/3093a363533657202b3120eb4e72493d/check.png" />
              <h3>CONCLUIDOS</h3>
              <br class="cb">
            </div>  
            