            <div class="rareag mg5" align="center">
              <img src="https://trello-attachments.s3.amazonaws.com/56b6a9a0ce936cde4a053e9a/113x113/4f13d636659152324870ca5bc3b01ce4/in-progress.png" />
              <h3>EN PROGRESO</h3>
              <br class="cb">
            </div>  
            