
<div class="jumbotron">
    <h2>Welcome to RUNNING CORP</h2>
    <h3>TaxiPe Featuring presentation</h3>
    <img src="https://cloud.githubusercontent.com/assets/16651024/12794223/0dd59d78-ca82-11e5-8ce7-a2d219b75042.gif" />
</div>

   


