            <div class="rareag mg5" align="center">
              <img src="https://cloud.githubusercontent.com/assets/16651024/12868473/f320aab2-ccd5-11e5-843c-207cdbd569f1.png" />
              <h3>FACILIDADES DEL ADMINISTRADOR</h3>
              <br class="cb">
            </div>  